#LogoText{
	margin-left:5%;
}


#logimg {
   padding: 10px;
}

#mobile-demo {
    padding: 0;
}



.align {
    vertical-align:
}

#room {
    position: relative;
}

#function {
    position: relative;
}

#amenities {
    position: relative;
}
